
<p>
  <b>Title:</b>
  <%= @destination.title %>
</p>

<p>
  <b>Description:</b>
  <%= @destination.description %>
</p>

<%= image_tag @destination.photo.large.url %>

<%#= link_to_function "test js", '$(this).html("js works")' %>

<h3>Reviews</h3>

<div id="review_form">

  <%= form_for([@destination, Review.new], remote: true) do |f| %>
    <%= f.label "Write your review:"%>
    <%= f.text_area :content, :rows => 5 %>
    <%= f.submit %>
  <% end %>

</div>

<div id="reviews">
  <%= render @reviews %>
</div>


<%= link_to 'Edit', edit_destination_path(@destination) %> |
<%= link_to 'Back', destinations_path %>
